ul{
    background-color:black; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: bold;
    color: lightgray;
    text-align: center;
}

a.nav-link{
    color: whitesmoke;
}