{%extends 'base.html'%}
{%block content%}

<head>
    <title> Why New York Zine </title>
    <link rel="stylesheet" type="text/css" href="/static/featurestyle.css"/>
  </head>

<body>

<center>

<h1>
  <b>Features</b>
</h1>

<hr = width="500 em">
<h2> LINH AN</h2>
<img src="/static/Media/Features/Linh_feature4.JPEG" width="30%" height="auto"/>
<p>From: Hanoi, Vietnam. <br>
  <b>2 years </b>in New York City.</p> <br>
<p> <b>Fun Fact: “I love bubble tea and wine.. Not together though” </b></p>
<p><b> ABOUT LINH: </b> During her time training at Broadway Dance Center in the International Student Visa Program, she was awarded the Outstanding Student Award, for her consistent diligence in learning and creating. Her choreographic work is largely influenced by the theater jazz style. 
  She performed in the Royal Albert Hall in London and was one of the ten students chosen 
  to perform in the
  Shanghai World Expo’s Opening Ceremony.</p>
<hr = width="500 em">
<h2> LIZA DE LA GARZA</h2>
<img src="/static/Media/Features/Liza_Feature3.jpg" width="30%" height="auto"/>
<p>From: Monterrey, Mexico. <br>
  <b>3 years </b>in New York City.</p> <br>
<p> <b>FUN FACT: “I learned to dance 
  flamenco when I was 2 years old.” </b></p>
<p><b> ABOUT LIZA:  </b> She started training more commercial styles such as tap, ballet and contemporary, whichis her favorite dance style now. 
  She is an Arts Management major at Pace University. 
  She has performed in two Choreographer’s Carnival in NYC with Hayden J Frederick and Theresa Stone, with a special appearance by Todrick. 
  </p>
<hr = width="500 em">
<h2> ROSE LU</h2>
<img src="/static/Media/Features/Rose_Feature3.JPG" width="30%" height="auto"/>
<p>From: Taichung, Taiwan. <br>
  <b>6 years </b>in New York City.</p> <br>
<p> <b>Fun Fact: “My nickname is Mulan because growing up I was the only girl in a break dance crew of boys” </b></p>
<p><b> ABOUT ROSE:  </b> She trained in breakdance for most of her teenage years, and after moving to New York City to get a degree in Film she took on different commercial styles, such as Street Jazz. She has danced live for the Kpop band  BTS, and appeared in music videos for The Jonas Brothers and  Daddy Yankee. She is also part of the New York based company: aKompany, directed by Kenichi Kasamatsu.
  </p>
<hr = width="500 em">
<h2> ELODIE DUFROUX</h2>
<img src="/static/Media/Features/Elodie_Feature.jpg" width="30%" height="auto"/>
<p>From: Loudun, France. <br>
  <b>5 years </b>in New York City.</p> <br>
<p> <b>Fun Fact: “I have two master’s degrees,  one bachelor’s degree and a professional training and none of them are in dance”</b></p>
<p><b> ABOUT ELODIE </b> While in NY, and due to her hard work and dedication to others in dance, she quickly became one of the most sought after assistants in the field. Her expertise led her to work directly with choreographers such as Hamilton’s Jon Rua, Stacie Webster, and Atlantic Records choreographer, Carlos Neto.
  </p>
<hr = width="500 em">
<h2> CARLOS NETO</h2>
<img src="/static/Media/Features/Carlos_Feature2.jpg" width="30%" height="auto"/>
<p>From: Lisbon, Portugal. <br>
  <b>6 years </b>in New York City.</p> <br>
<p> <b>FUN FACT: “My first performance job as a kid was as a clown, mime and baloon sculptor. It is what ignited my love for the arts and performance.”</b></p>
<p><b> ABOUT CARLOS:  </b> He started dancing at 19 y/o. after moving to the UK to study journalism. Has worked personally with Simon Cowell, and did motion 
  capture for 
  Nintendo and PlayStation. He is currently teaches Street Jazz at Broadway Dance Center in NYC. </p>


</center>

</body>


  


{%endblock%}