{%extends 'base.html'%}
{%block content%}

<head>
  <title> Why New York Zine </title>
  <link rel="stylesheet" type="text/css" href="/static/staticstyle.css"/>
</head>

<center>

<img src="/static/Media/wnylogo.jpg" width = "200 em" height="200em"/>

<body>

<hr = width="500 em">

<h2> About Us </h2>
<p> In Why New York , we acknowledge that making it in New York City is the end goal for people in almost every industry. If you make it in New York, you can make it anywhere, they say. <br>
  From Madison Avenue and NYFW for the fashion industry, to Broadway Theaters, Hip-Hop battles and the American Ballet Theater for the performers, New York City has it all.<br>
   If there is something you feel is missing elsewhere, you will probably find it once you arm up with courage and move to the 
  Big Apple. <br>
  This beautiful city comes with it’s obstacules though. It is expensive and overcrowded with both tourists and freelancers. Nonetheles, people from all over the world keep moving to New York City to pursue their dreams, no matter the hardships. <br>
  
  This publication will show you, our readers the reasons <b>why.</b> </p>

  <hr = width="500 em">

<img src="/static/Media/issueone.jpg" width = "530 em" height="450em" margin-top = "1em"/>

<p> Issue No. 1: D A N C E R S</p>

  <h2> Table of Contents </h2>
<p> <b>Story: </b><br>
  “Immigrant dancers in New York City. <br>
 Why are they still here?” <br>
 <i> Written By: Maria Luisa Mejia, Gabriella Fernandez and Emily Hoodenpyle. <br>
PG: 4</i> <br>
 <hr = width="80 em">

 <p>
<b>Why New York Features: </b><br>
 Meet the dancers featured in our story. Their creative process, preferred dance style, professional background and even their <br>
 favorite drinks.  <br>
 <i> Photos By: Maria Luisa Mejia and Olivia Battista <br>
PG: 11</i><br>
 <hr = width="80 em">
 </p>

 <p>
 <b>Why New York Tips:</b> <br>
 If you are planning to finally take the step and move to New York City, take a look at the list of tips that we wrote to help you get around.<br>
 <i>PG: 17</i><br>
 <hr = width="80 em">
</p>

<p>
  <b>(online exclusive) Video:</b> <br>
  Sit back, watch, meet our featured dancers, hear their stories and watch them dance. <br>
  <i> Created By: Maria Luisa Mejia</i>
  <hr = width="80 em">

 </p>

<p class="print">
 <b>(print only) A New Yorker’s Checklist:</b> <br>
 Keep track of your progress as a  New Yorker with our carefully curated <br>
 checklist. <br>
 <i>PG: 21</i>
</p>


</body>

</center>

{%endblock%}
