{%extends 'base.html'%}
{%block content%}

<head>
    <title> Why New York Zine </title>
    <link rel="stylesheet" type="text/css" href="/static/tipsstyle.css"/>
  </head>

<body>

<center>

  
<h1>Tips</h1>
<hr = width="500 em">

<h1> 1. M E A L  P R E P </h1>
<p>New York City prices are high, that is no secret, and eating out every day will break the bank before you know it. Take advantage of one day off and prep as many meals for the week as you can. Buy some tupperware or reuse take-out containers to bring it with you when you go out. You will save money and feel great knowing that you are coming home to an already cooked dinner.</p> 
<h6>Trader Joe’s has some great, cheap grocery shopping options.</h6>

  <h1> 2. T H R I F T  S H O P</h1>
  <p>The clothes you wear are a representation of who you are, and once you land in New York City a mind and soul transformation is bound to happen. A sustainable way of renewing your whole closet is to go thrift shopping and exchanging items with friends. It’s cheaper and  will give you a unique style. You can also sell the clothes you no longer want to wear. </p> 
  <h6 >We recommend: L Train Vintage and Buffalo Exchange </h6>

    <h1> 3. 'M Y  M T A'  A P P</h1>
    <h6>( Or the “Subway Time” app to check on train arrival times. )   </h6>
    <p>If you haven’t yet, you will figure it out soon enough. The NYC public transport system is not very reliable, so you want to make sure you always plan ahead with your travel time. This app will let you know if there are any route changes or damages in any of the lines that could delay your commute. Be in the know and the MTA won’t take you down.</p> 
  
    <h1> 4. C I T Y  B I K E</h1>
    <p>Nontheless, if you get tired of being stuck underground more often than not, you can try biking with the CitiBike app. According to their website, there are 800 bike stations in Manhattan, Brooklyn and Queens. You can download the app, unlock a bike and ride away!
      Payment options include one ride ($3), day passes ($12) and yearly passes ($169).</p> 
    <h6>The subway unlimited monthly card is $127, so even though one ride is more expensive, a yearly pass would help you save money + the planet! </p>
  
      <h1> 5. G O  S E E  D A N C E</h1>
      <p>And we don’t mean in an expensive Broadway Show or the Lincoln Center (although if you get a chance to do that, it is great). Since New York City is the birthplace of so many dance styles which range from Krumping to Salsa, it is possible for you to find free or donation based shows in the style of your preference. Start by following dance companies that advertise community performances, find what you like and go from there.</p> 
      <h6>DANCE.NYC is a great platform to start browsing</h6>

      <h1> 6. P L A N  A H E A D </h1>
      <p>Either on you phone calendar or with a pen and paper, try to plan every week ahead. It will help you feel prepared and ready for anything you commit to. Nontheless, you should also be ready for everything changing last minute. The beauty of New York is how unpredictable it is, so don’t be disappointed if you week is turned upside down. You’ll get used to it!</p> 
    

</center>

</body>
{%endblock%}