{%extends 'base.html'%}
{%block content%}

<head>
  <title> Why New York Zine </title>
  <link rel="stylesheet" type="text/css" href="/static/videostyle.css"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='fav.icon.png') }}">
</head>

<center>

<h1> Video </h1>

<body>

<hr = width="500 em">
<h2> ONLINE EXCLUSIVE !</h2>
<hr = width="500 em">

  
<p> Exclusively for our online readership, we have created a video that best explains it all. <br>
Sit back, watch, meet our featured dancers, hear their stories. <br>
<b>Enjoy!</b></p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/xXvio7ahx1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>

</center>

{%endblock%}